{% extends "base.html" %}

<!-- Change the page title block -->
{% block title %}Logged Out{% endblock %}

<!-- Fill the main content block -->
{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md p-8 bg-gray-800 shadow-lg rounded-lg">
        <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-white">
            You have been logged out.
        </h2>
        <p class="mt-10 text-center text-sm text-gray-400">
            <a href="{% url 'login' %}" class="font-semibold leading-6 text-indigo-400 hover:text-indigo-300">Log in again</a>
        </p>
    </div>
</div>
{% endblock %}